@import "tailwindcss";
@source "../**/*.html";
@source "../js/**/*.js";

@theme {
  --color-brand-primary: #e1d4aa;
  --color-brand-secondary: #161616;
  --color-brand-accent: #7f7657;
  --color-brand-dark: #1b1b1b;
  --color-brand-muted: #3d3b37;
  --color-brand-soft: #f6f6f6;
  --color-brand-border: #9a9073;
  --font-heading: "Cinzel", serif;
  --font-body: "Source Sans 3", sans-serif;
}
